*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.navbar{
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_items ul{
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav_items ul li{
  padding: 40px;
  text-decoration: none;
}
.nav_items a{
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.logo img{
margin-left: -150px;
  background-size: cover;
  width: 100px;
}

.social_icons{
  margin-right: -100px;
  font-size: 20px;
}

.social_icons i{
   padding-left: 10px;
}



/** Hero section **/

.hero-section{
  background-image: url(Assets/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1210px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.grey{
  border: 1px solid transparent;
  width: 250px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  background-color: rgb(30, 49, 69);
  color: white;
  margin: 70px;
  justify-content: center;
}

.hero-info{
  display: flex;
  border: 1px solid transparent;
  height: 150px;
  background-color: rgb(211, 211, 211);
  align-items: center;
  text-align: center;
}

.hero-info p{
  word-wrap: break-word;
  font-weight: 600;
  justify-content: space-between;
  text-wrap: wrap;
  padding: 75px;
}

.footer{
  display: flex;
  flex-direction: column;
}

.Lorem h2{
  padding-top: 50px;
  padding-left: 52px;
  font-size: 40px;
}

.Services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
 height: 300px;
 width: 30%;
 padding: 20px;
 margin-top: 15px;
}

.card-img{
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
 flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.h2-1{
  padding-top: 10px;
  padding-bottom: 20px;
}
.h2-2{
  padding-left: 160px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.h2-3{
  padding-left: 320px;
  padding-top: 10px;
  padding-bottom: 20px;
}


.learn-more-1{
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid transparent;
  height: 40px;
  width: 120px;
  text-align: center;
  line-height:40px;
  text-decoration: none;
  background-color: black;
  color: white;
}
.learn-more-2{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 160px;
  border: 1px solid transparent;
  height: 40px;
  width: 120px;
  text-align: center;
  line-height:40px;
  text-decoration: none;
  background-color: black;
  color: white;
}
.learn-more-3{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 300px;
  border: 1px solid transparent;
  height: 40px;
  width: 120px;
  text-align: center;
  line-height:40px;
  text-decoration: none;
  background-color: black;
  color: white;
}
